.inputContainer {
  margin-bottom: 1.5em;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eyeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border: none;
}
