main {
  padding: 2rem;
  background: #fff;
  height: fit-content;
  min-height: calc(100vh - 300px);
}

h1 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  line-height: 140%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
}

.form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  display: block;
  font-weight: bold;
}

.label {
  display: block;
  font-weight: bold;
}

form label:first-of-type {
  margin-top: 0;
}

input,
textarea,
select {
  padding: 0.5em;
  font-size: 1em;
  border: 1.5px solid #444444;
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  background: #ffff;
  transition: border-color 0.2s;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

button[type="submit"] {
  background: #005fcc;
  color: #fff;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background: #003e8a;
}

.invisible {
  display: none;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.5rem;
}

.content {
  width: var(--max-width);
  max-width: var(--max-width);
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.name {
  margin-right: auto;
}
